{% extends 'base.html' %}
{% block content %}

 <h1 class="h_to_center">{{ label }}</h1>
    {% if object_list %}
        <table class="table table-striped">
        <thead>
        <tr>
        	<th>Велосипед:</th>
            <th>Координаты:</th>
            <th>Время:</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.bike }}</td>
            <td>{{ object.location }}</td>
            <td>{{ object.datetime }}</td>
            <td><a class="btn btn-warning btn-sm" role="button" aria-pressed="true"  href="{% url 'bike-current-location-update' object.id %}">редактировать</a> |
            <a class="btn btn-danger btn-sm" role="button" aria-pressed="true"  href="{% url 'bike-current-location-delete' object.id %}">удалить</a></td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
	{% else %}
		    <h1>Список пуст!</h1>
	{% endif %}
	<a class="btn btn-primary btn-sm" role="button" aria-pressed="true"  href="{% url 'bike-current-location-add'%}">Добавить новый элемент</a>  
{% endblock %}